<div>
    <h5 class="card-header">Add new user</h5>
    <div class="card-body text-center">
        <div class="form-justify-content-center mx-auto col-4">
            <form id="formNewUser">
                <p>
                    <label class="container-fluid col-6" for="username">
                        <strong>Username</strong>
                        <input class="form-control" type="text" id="username"
                               placeholder="username" required>
                    </label>
                </p>
                <p>
                    <label class="container-fluid col-6" for="name">
                        <strong>Name</strong>
                        <input class="form-control" type="text" id="name"
                               placeholder="name" required>
                    </label>
                </p>
                <p>
                    <label class="container-fluid col-6" for="lastname">
                        <strong>Lastname</strong>
                        <input class="form-control" type="text" id="lastname"
                               placeholder="lastname" required>
                    </label>
                </p>
                <p>
                    <label class="container-fluid col-6" for="age">
                        <strong>Age</strong>
                        <input class="form-control" type="text" id="age"
                               placeholder="age" required>
                    </label>
                </p>
                <p>
                    <label class="container-fluid col-6" for="email">
                        <strong>Email</strong>
                        <input class="form-control" type="text" id="email"
                               placeholder="email" required>
                    </label>
                </p>
                <p>
                    <label class="container-fluid col-6" for="password">
                        <strong>Password</strong>
                        <input class="form-control password" type="password"
                               id="password" placeholder="password" required>
                    </label>
                </p>
                <label class="container-fluid col-6"
                       for="my_roles">
                    <strong>Role</strong>
                    <select id="my_roles" class="form-select" size="2"
                            multiple required>
                    </select>
                </label>
                <p>
                    <button type="submit" id="addNewUserButton" class="btn btn-success">
                        Add new user
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>