<div class="tab-pane fade show active" id="usersTable" role="tabpanel"
     aria-labelledby="table-tab">
  <h5 class="card-header my-0 mx-2">Table of registered users:</h5>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody id="tbody-admin"></tbody>
    </table>
  </div>
</div>