<div class="card" style="background-color: rgba(0, 0, 0, 0.2)">
  <div class="card-header">
    <h2 class="my-0 mx-2">Below you can find more detailed information about your personal data:</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
      </thead>
      <tbody id="tbody-user"></tbody>
    </table>
  </div>
</div>