<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/main :: htmlhead"/>

<body>
<!-- Top panel -->
<div th:replace="fragments/top_panel :: top_panel"/>

<br>

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" style="background-color: dimgray" id="btnAdminPanel" data-toggle="pill" href="#v-pills-admin" role="tab"
       aria-controls="v-pills-admin" aria-selected="true">Admin</a>
    <a class="nav-link" style="background-color: darkgray" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
       aria-controls="v-pills-user" aria-selected="false">User</a>
  </div>

  <div class="tab-content container-fluid" id="v-pills-tabContent">
    <!-- Admin panel -->
    <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
         aria-labelledby="v-pills-admin-tab">
      <h1>Welcome to the admin page.</h1>
      <h2>This is the information, available with your status:</h2>
      <div class="card" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" style="background-color: black" id="table-tab" data-toggle="tab" href="#usersTable">Users table</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" style="background-color: black" id="btnNewUser" data-toggle="tab" href="#newUser">New User</a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div th:replace="fragments/table_users"/>

          <!-- Modal edit -->
          <div class="modal fade" id="modalEdit"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div th:replace="fragments/edit_modal"/>
          </div>

          <!-- Modal delete-->
          <div class="modal fade" id="modalDelete"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div th:replace="fragments/delete_modal"/>
          </div>

          <!-- New user -->
          <div class="tab-pane fade" id="newUser" role="tabpanel"
               aria-labelledby="new-tab">
            <div th:replace="fragments/create_form"/>
          </div>
        </div>
      </div>
    </div>

    <!-- User panel -->
    <div th:replace="fragments/user_info"/>

  </div>
</div>

<div th:replace="layouts/main :: footer"/>

</body>
</html>