<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/main :: htmlhead"/>

<body>
<!--Top panel-->
<div th:replace="fragments/top_panel :: top_panel"/>
<br>
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" style="background-color: darkgray" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
       aria-controls="v-pills-user" aria-selected="true">User</a>
  </div>

  <div class="tab-content container-fluid" id="v-pills-tabContent">
    <!-- User panel -->
    <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
      <h1>Welcome to your personal page!</h1>
      <div th:replace="fragments/user_table"/>
    </div>
    <br/>
    <h2>This is all the information,
      <br/>
      that is available to receive with your status.</h2>
  </div>
</div>

<div th:replace="layouts/main :: footer"/>
</body>
</html>