<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/main :: htmlhead"/>

<body>
<!--Top panel-->
<div class="container-fluid m-0 p-0">
  <div class="row bg-dark bg-gradient m-0 p-2">
    <div class="col-11 d-inline">
                <span class="text-white" id="top-panel">
                </span>
    </div>
    <div class="col-1 text-white h4">
      <form th:action="@{/logout}" method="post">
        <input class="btn btn-outline-secondary" type="submit" value="Logout"/>
      </form>
    </div>
  </div>
</div>

<br>

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
       aria-controls="v-pills-user" aria-selected="true">User</a>
  </div>


  <div class="tab-content container-fluid" id="v-pills-tabContent">
    <!-- User panel -->
    <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
      <h1>User information-page</h1>
      <div class="card">
        <div class="card-header">
          <h5>About user</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Lastname</th>
              <th scope="col">Age</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody id="tbody-user">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="layouts/main :: footer"/>
</body>
</html>